/*	-> header	*/
header {
   padding: 0px;
   transition: all 0.4s ease 0s;
   height: 100px;
   display: grid;
   align-items: center;
   z-index: 1 !important; }
 
 header.active {
   background: rgba(0, 0, 0, 0.7); }


/*	-> navbar	*/

header.nav-fixed {
   padding: 0px;
   background-color: var(--footer-bg);
   height: 80px;
   border-bottom: none;
   box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05); 
 }