/*	-> header	*/



/*	-> navbar	*/

header.nav-fixed {
   padding: 0px;
   background-color: var(--footer-bg);
   height: 80px;
   border-bottom: none;
   box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05); 
 }